.searchbar{
    /* background-color: aqua; */
    width: 99%;
    margin: 0px 20px 0px 2px;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid rgb(92, 92, 244);
    padding: 0px 10px;
}